<section class="app-wrapper">
    <header>
        <h1>Super Duper Budget App!</h1>
    </header>

    <table>
        <caption>Budget Table</caption>
        <thead>
            <tr>
                <th>Sum</th>
                <th>Description/purpose</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <td>{{ total }}</td>
                <td>Total</td>
            </tr>
        </tfoot>

        <tbody>
            <tr *ngFor="#bi of budgetItems"
                [class.positive]="bi.sum > 0"
                [class.negative]="bi.sum < 0">
                <td>{{ bi.sum }}</td>
                <td>{{ bi.description }}</td>
            </tr>
        </tbody>
    </table>
    <section class="form-wrapper">
        <section class="form-center-wrapper">
        <form #f="ngForm" (ngSubmit)="addItem(model)">
            <label>Amount:<br>
                <input type="number" name="sum" required [(ngModel)]="model.sum">
            </label>

            <input type="text" name="description" required [(ngModel)]="model.description" placeholder="Enter puspose/source">

            <button type="submit" [disabled]="!f.form.valid">+</button>
        </form>

        <button id="btn-sum" (click)="sumUp()">Sum Up</button>

        <button id="btn-fill" (click)="fillWithTestData()">Fill With Test Data</button>
        </section>
    </section>
</section>
